{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css_html_app/styles.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Changa:wght@200;300&family=Diplomata+SC&family=Faster+One&family=Noto+Sans+Lao+Looped&family=Roboto&family=Space+Mono&display=swap"
        rel="stylesheet">


</head>

<body>
    <h1 id="header">Viphakone Monty's CSS, HTML Cheatsheet</h1>
    <h2><a href="https://www.w3schools.com/html/html_tables.asp" target="_blank">TABLES</a></h2>
    <div>
        <table>
            <tr>
                <th>TAG</th>
                <th>NAME</th>
                <th>DESCRIPTION</th>
            </tr>
            <tbody>
                <td>&lt; table &gt;
                </td>
                <td>Table</td>
                <td>Container for table content: tr, th , td, etc</td>
                <tr>
                    <td>&lt; th &gt;</td>
                    <td>Table head</td>
                    <td>The heading content at top of the table</td>
                </tr>
                <tr>
                    <td>&lt; tr &gt;</td>
                    <td>Table Row</td>
                    <td>Holds the content for each row below the heading</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>